* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Convergence', sans-serif;
}
header {
    width: 100%;
    height: 50px;
    background-color: #00FFFF;
    color:black;
}
.font-logo {
    font-family: 'Poppins', sans-serif;
}
h2 {
    float: left;
    padding: 8px;
}
.lineH {
    line-height: 1.4;
}
.lineHT {
    line-height: 1.8;
}
.container {
    width: 100%;
    margin: auto;
}
header .container {
    display: table;
}
.btn {
    background-color: #00FFFF;
}

/*-----------menu styles---------------*/
#nav-menu {
    display: none;
}
header label {
    float: right;
    font-size: 30px;
    margin: 6px 0px;
    cursor: pointer;
}
.nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #00FFFF;
    top: 50px;
    left: 0;
    transform: translateX(-100%);
}
.nav a {
    display: block;
    color: black;
    height: 50px;
    text-decoration: none;
    padding: 20px;
}
#nav-menu:checked ~ .nav {
    transform: translateX(0%);
}
@media (min-width:1024px) {
    .nav {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background-color:#00FFFF;
    }
    header label {
        display: none;
    }
}

/*-----------section-1 styles---------------*/
.main img{
    width: 100%;
    height: 200px;
}
@media (min-width:900px) {
    .main img {
        width: 100%;
        height: 300px;
    }
}
@media (min-width:1200px) {
    .main img {
        width: 60%;
        height: 400px;
        margin-left: 20%;
        border: none;
    }
    .section-1 {
        background-color: gray;
    }
}

/*-----------section-2 styles---------------*/
.section-2 {
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-2a {
    max-width: 540px;
    margin: 20px;
}
.section-2b {
    max-width: 300px;
    margin: 20px;
}

/*-----------section-3 styles---------------*/
.section-3 .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.section-3 article {
    margin: 15px;
    max-width: 280px;
}
.section-3 img {
    width: 100%;
    max-width: 280px;
}
article a {
    text-decoration: none;
    border: 2px solid #00FFFF;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    background-color: #00FFFF;
}

/*---------- footer styles---------------*/
footer .container {
    background-color: #343A40;
}
.footer {
    text-align: center;
    height: 50px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 17px;
}